<html>
  <head>
    <title>CP's Version of Flapper News</title>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js'></script>
    <script src='app.js'></script>
  </head>
  <body ng-app='flapperNews'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <ui-view></ui-view>
      </div>
    </div>
    <script id='/home.html' type='text/ng-template'>
      <div class='page-header'>
        <h1>Flapper News</h1>
      </div>
      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(post)'>
          {{post.upvotes}}
        </span>
        <span class='post-text'>
          <a href='{{post.link}}' ng-show='post.link'>
            {{post.title}}
          </a>
          <span ng-hide='post.link'>
            {{post.title}}
          </span>
        </span>
        <span>
          <a href='#/posts/{{$index}}'>
            Comments
          </a>
        </span>
      </div>
      <form class='new-post' ng-submit='addPost()'>
        <h3>Add a new post</h3>
        <div class='form-group'>
          <input ng-model='title' placeholder='Title' type='text'>
        </div>
        <div class='form-group'>
          <input ng-model='link' placeholder='Link' type='text'>
        </div>
        <button class='btn btn-primary' type='submit'>Post</button>
      </form>
    </script>
    <script id='/posts.html' type='text/ng-template'>
      <div class='page-header'>
        <h3>
          <a href='{{post.link}}' ng-show='post.link'>
            {{post.title}}
          </a>
          <span ng-hide='post.link'>
            {{post.title}}
          </span>
        </h3>
      </div>
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(comment)'>
          {{comment.upvotes}} - by {{comment.author}}
        </span>
        <span class='comment-text'>
          {{comment.body}}
        </span>
      </div>
      <form class='comment-form' ng-submit='addComment()'>
        <h3>Add a new comment</h3>
        <div class='form-group'>
          <input class='form-control' ng-model='body' placeholder='Comment' type='text'>
        </div>
        <button class='btn btn-primary' type='submit'>Post</button>
      </form>
    </script>
  </body>
</html>
